.container {
    width: 100%;
    height: 100vh;
    background-image: url("../img/Journey_background.png");
    background-size: cover;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.journey-green-color {
    color: #3cb878;
}

/* JOURNEY HEADER START */

.top-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    height:  54px;
    font-family: "Verdana", sans-serif;
    color: white;
}

.top-menu-nav {
    float: right;
    margin: 15px 0px 0px 0px;
    padding-right: 30px;
    border-right: 1px solid #585353;
    font-size: 21px;
}

.top-menu-nav-items {
    margin-right: 15px;
}

.top-menu-nav-items:nth-child(3n) {
    margin-right: 0px;
}

.top-menu-nav-items:hover {
    color: #3cb878;
}

.top-menu-gate {
    float: right;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 80px 0px 30px;
}

/* journey header link start */

.home-link {
    float: left;
    margin: 15px 0px 0px 80px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.home-link:hover {
    color: #3cb878;
}

.top-menu-header {
    text-size: 24px;
}

.top-menu-nav-items {
    text-decoration: none;
    color: white;
}

.top-menu-log-in {
    text-decoration: none;
    padding-bottom: 2px;
}

.top-menu-log-in:hover {
    border-bottom: 1px solid grey;
}

.top-menu-sign-up {
    text-decoration: none;
    padding-bottom: 2px;
}

.top-menu-sign-up:hover {
    border-bottom: 1px solid grey;
}

/* journey header link end */

.top-menu-backgraund {
    position: relative;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 54px;
}

/* JOURNEY HEADER END */

/* JOURNEY MAIN FORM START */

.form-face {
    position: relative;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 5px;
    width: 444px;
    height: 600px;
    margin: 7em auto;
    font-family: "Verdana", sans-serif;
}

.square-box {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 29px;
    background-color: #3cb878;
}

.form-content {
    position: absolute;
    top:29px;
    left: 60px;
    width: 324px;
    height: 475px;
}

.form-content-sign-in {
    float: left;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 2px;
}

.form-content-log-in {
    float: right;
    font-size: 14px;
    padding: 5px 0px 2px;
}

.form-content-log-in:hover {
    border-bottom: 1px solid #3cb878;
}

.form-content-facebook-log {
    display: inline-block;
    width: 49%;
    text-align: left;
    margin-top: 15px;
}

.form-content-google-log {
    display: inline-block;
    width: 49%;
    text-align: right;
    margin-top: 10px;
}

.form-content-separator {
    display: block;
    margin-top: 20px;
    width: 100%;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.form-content-separator:after {
    content: "";
    height: 1px;
    width: 140px;
    position: absolute;
    top: 7px;
    right: 1px;
    background-color: gainsboro;
}

.form-content-separator:before {
    content: "";
    height: 1px;
    width: 140px;
    position: absolute;
    top: 7px;
    left: 1px;
    background-color: gainsboro;
}

.form-content-field {
    font-family: "Verdana", sans-serif;
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
    width: 94%;
    margin: 15px 0px 0px 0px;
    padding: 15px 0px 15px 20px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    outline: none;
}

.form-content-field:focus {
    color: #000000;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
.form-content-check {
    display: inline-block;
    margin: 16px 0px 0px 0px;
}

.form-content-agree {
    display: inline-block;
    margin: 18px 0px 0px 0px;
}

.form-content-btn {
    margin: 19px 0px 0px 0px;
    width: 100%;
    height: 46px;
    background-color: #3cb878;
    border: 1px solid gainsboro;
    border-radius: 3px;
    outline: none;
    color: white;
    font-size: 16px;
}

.form-content-btn:hover {
    background-color: #2e9b65;
}
/* JOURNEY MAIN FORM END */

/* Cheakbox special start */

/* Customize the label (the container) */
.form-content-check-box {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.form-content-check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.form-content-check {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.form-content-check-box:hover input ~ .form-content-check {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.form-content-check-box input:checked ~ .form-content-check {
    background-color: #3cb878;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-content-check:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-content-check-box input:checked ~ .form-content-check:after {
    display: block;
}

/* Style the checkmark/indicator */
.form-content-check-box .form-content-check:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Cheakbox special end */

/* btn facebook and google start */

/* Shared */
.loginBtn {
    box-sizing: border-box;
    width: 150px;
    height: 46px;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em 0em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: center;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 12px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 12px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

/* btn facebook and google end */